/*
https://docs.xfce.org/xfce/xfce4-panel/theming
https://developer.gnome.org/gtk3/stable/chap-css-overview.html
*/

wnck-pager {
	background-color: #FBCA04;
	border: #fff solid 1px;
}

wnck-pager:selected {
	background-color: #0085F0;
}

#xfce4-clipman-plugin {
	/*height: 80%;*/
}

.xfce4-panel.panel {
	/*background-color: mix(@selected_bg_color, #000000, 0.7);*/
}

/* panels come with a PanelItembar as only child */
.xfce4-panel.panel.horizontal > *:only-child {
	/*margin: 10px 5px;*/
}

.xfce4-panel.panel.vertical > *:only-child {
	/*margin: 5px 10px;*/
}

#whiskermenu-button image {
	/*-gtk-icon-source: @selected_bg_color;*/
}

#whiskermenu-window {
}

scrollbar slider {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    /*border-radius: 0;*/
}

scrollbar.vertical slider {
	min-width: 8px;
	min-height: 40px;
}

scrollbar.horizontal slider {
	min-width: 40px;
	min-height: 8px;
}

/* https://wiki.archlinux.org/index.php/GTK#Remove_overlay_scroll_indicators */
/* Remove dotted lines from GTK 3 applications */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { 
	background-image: none;
}

.xfce4-panel #pulseaudio-button {
	padding-left: 10px;
	padding-right: 20px;
}

/* https://askubuntu.com/a/563190/145907 */
VteTerminal, TerminalScreen, vte-terminal {
    padding: 10px 10px 10px 10px;
    -VteTerminal-inner-border: 10px 10px 10px 10px;
}


/*.thunar {
	-ThunarAbstractIconView-row-spacing: 200px;
	-ThunarAbstractIconView-column-spacing: 400px;
}
*/
@import 'colors.css';